body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}


/* score count bar */


.scorecountcontainer {
    margin: auto;
    height: 64px;
    background-color: #F8F8FF;
    border-radius: 15px;
    padding-top: 4px;
    margin-bottom: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.movecountbox {
    font-family: inherit;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
    color: darkslategray;
    box-sizing: inherit;

    float: left;
    padding: 0px 0px 0px 30px;

    grid-column: 1 / 2;
}

input {
    grid-column: 2 /3;
}



.timerbox {
    font-family: inherit;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
    color: darkslategray;
    box-sizing: inherit;
    float: right;
    grid-column: 3 /4;
}

